.charts_container
{
    height: 100%;
    max-width: 90%;
    position: relative;
    margin: auto;
}
.charts_container_header
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.charts_container_header h1
{
    padding: 24px 0;
    color: #212121;
}
.charts_container_Link
{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-direction: row-reverse;
}
.charts_container_Link a
{
    color: #007BFF;
}

.charts_container_data
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    direction: ltr;
}

.charts_container_data_left h6
{
    direction: ltr;
    font-weight: 600;
    color: #212121;
}
.rate_container
{
    display: flex;
    border-radius: 16px;
    direction: ltr;
    align-items: center;
    flex-direction: row;
    background-color: #FFD6D6;
    justify-content: center;
    width: 85px;
    height: 32px;
}
.rate_container p{
    color: #FB2424;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;
}
.main_barChart_container {


    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 242px;
    position: absolute;
    direction: ltr;
    top: 43%;
    left: -6%;
}

.recharts-surface:hover {
    fill: #FFF !important; /* Change the color to match your bar color */
}


@media screen and (max-width: 1280px)
{
    .main_barChart_container {

        max-width: 555px;

        left: -10%;
    }

}
@media screen and (max-width: 576px)
{

    .main_barChart_container
    {
        left: 0;
    }
}