
.rules img
{

    width: 15px;
    height: 15px;
}
.rules
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.rules .item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}
.rules .item input
{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid blue;
    color: black;

}

.rules-image
{
    width: 20px;
    height: 20px;
    object-fit: cover;

}

.rules label
{
    color: black;
    font-size: 10px;
}

.option-button {
    padding: 7px 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

