
@import './variable.css';
@import './responsive.css';


@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a
{
  text-decoration: none;
  color: inherit;
}


.main
{
  font-family: "inter", sans-serif;
  background-color: var(--main-bg);
  color: var(--main-color);

}

.container {
  display: flex;
  flex-direction: row-reverse;
}




.Content-container
{
  width: 100%;
  padding:10px;
}
.menu-container
{
  width: 250px;
  padding: 10px;
}



@media screen and(max-width: 600px)
{

  .container
  {
    flex-direction: column !important;
  }
}



@media screen and(max-width: 1024px)
{

  .menu-container
  {
    width: max-content;
  }
}
