
@import './variable.css';
@import './responsive.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: 'Iransans';
  src: url('/fonts/17/IRANSansWeb.ttf') format('truetype'),
  url('/fonts/17/IRANSansWeb.woff') format('woff'),
  url('/fonts/17/IRANSansWeb.woff2') format('woff2');
}




* {
  font-family: Iransans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

a
{
  text-decoration: none;
  color: inherit;
}


.main
{
  font-family: "inter", sans-serif;
  background-color: #fafafa;
  color: var(--main-color);

}

.container {
  display: flex;
  flex-direction: row;
  height: 110vh;
  max-width: 100vw;
}




.Content-container
{
  width: 100%;
  padding:10px;
  max-width: 1140px;
  margin: 0 auto;
}
.menu-container
{
  width: 250px;
  padding: 5px;
  display: none;
  position: relative;
}

@media screen and(max-width: 1024px)
{

  .container
  {
    max-width: 100%;
  }
  .menu-container
  {
    width: max-content;
  }
}



@media screen and(max-width: 720px)
{

  .container
  {
    flex-direction: column !important;
  }
}

@media (max-width: 480px)
{
  .container {
    height: 137vh !important;
  }
}


