.chartBox
{
    display: flex;
    height: 100%;
}

@media only screen and (max-width: 768px)
{
    .chartBox
    {
        flex-direction: column;
    }
    .boxInfo
    {
        gap: 20px;
    }
}
.boxInfo
{
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: space-between;
}
.boxInfo .title
{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 1200px) {
    .boxInfo .title
    {
        font-size: 14px;
    }
}

.chartInfo
{
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
}

.chartInfo .charts
{
    height: 100px;
    width: 100px;
}

.texts
{
    display: flex;
    flex-direction: column;
    text-align: right;

}

.percentage
{
    font-size: 19px;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .percentage {
        font-size: 14px;
    }

    .boxInfo .title h1
    {
        font-size: 14px;
    }

}
.duration
{
    font-size: 14px;
}