
.Login {
    position: absolute;
    background: linear-gradient(to top, #15141A, #1F1E26F2);
    width: 100%;
    height: 100vh;
    direction: ltr;
    overflow: hidden;
}

.image_Login_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    top: 10%;
}
.logo_middle
{
    position: absolute;
    top: 25%;
    left:42%;

}
.logo_middle img
{
    width:343px;
    height: 84px;
}
.image_Login_container img
{
    width: 92%;
    max-width: 1440px;

}
.Configx-form-container
{
    width: 92%;
    margin: auto;
    max-width: 1440px;
}
.loremipsun_container_logo
{
    display: flex;
    justify-content: flex-start;
    direction: ltr;
    gap: 20px;
}
.loremipsun_container_logo img
{
    width: 147px;
    height: 36px;
}
.form_Login_container {
    position: absolute;
    height: 43%;
    width: 92%;
    bottom: 7%;
    display: flex;
    flex-direction: row;
    direction: ltr;
    justify-content: center;
    background-color: #2A2931;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    margin: auto;
    max-width: 1440px;
    max-height: 352px;
}

.input_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8%;
    margin: 2% 5%;

}

.form_Login_container input {
    width: 100%;
    height: 43px;
    border-radius: 15px;
    font-size: 18px;

    padding: 8px 7px 7px 12px;
    color: black;
}

.loremipsun_container {
    flex: 1;
    margin: 4%;
    display: flex;
    direction: ltr;
    gap: 30px;
    flex-direction: column;
}

.username_container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 7px;

}

.password_container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 7px;

}

.username_container img {
    top: 54%;
    position: absolute;
    left: 93%;
}

.password_container img {
    top: 56%;
    position: absolute;
    left: 93%;
}

.password_container label {
    font-size: 17px;
}

.form_Login_container button {
    width: 100%;
    background-color: #1677FF;
    border-radius: 15px;
    height: 42px;
}



.loremipsun_container_part1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    direction: ltr;
    align-items: flex-start;
    line-height: 1;
    height: 22%;
    text-justify: auto;
    text-align: justify;
}

.loremipsun_container_part2 {
    display: flex;
    flex-direction: row;
    line-height: 1;
    height: 22%;
    align-items: baseline;
    text-justify: auto;
    text-align: justify;
    position: relative;
    top: 10px;
    gap: 8px;
}

.loremipsun_container_part1 p, .loremipsun_container_part2 p {
    position: relative;
    top: -4px;
    line-height: 1.2;
    word-spacing: -1.5px;
    font-size: 17px;
    text-align: justify;
    direction: ltr;
    opacity: 0.9;
}

.line {
    position: absolute;
    left: 52%;
    top: 10%;
    background-color: #424242;
    width: 1px;
    height: 79%;
}

@media only screen and (max-width: 1440px){
    .form_Login_container
    {
        width: 92%;
        max-width: 1328px;
    }
}

@media only screen and (max-width: 1200px) {
    .Login {
        position: absolute;
        background: linear-gradient(to top, #15141A, #1F1E26F2);
        width: 100%;
        height: 100%;
        direction: ltr;
    }

    .image_Login_container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        position: absolute;
     }



    .form_Login_container {
        width: 92%;
        height: 42%;
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        top: 49%;
        background-color: #2A2931;
        color: white;
        border-radius: 15px;
        font-size: 18px;
    }

    .input_container {

        display: flex;
        flex-direction: column;
        gap: 7%;
        margin: 3%;

    }

    .form_Login_container input {
        width: 100%;
        height: 40px;
        border-radius: 15px;
        font-size: 18px;
        text-align: end;
        padding: 8px 7px 7px 7px;
        color: black;
    }

    .loremipsun_container {
        flex: 1;
        margin: 5%;
        gap: 42px;
        display: flex;
        flex-direction: column;
    }

    .username_container {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 7px;
        align-items: flex-end;

    }

    .password_container {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 7px;
        align-items: flex-end;

    }

    .username_container img {
        top: 54%;
        position: absolute;
        left: 92%;
    }

    .password_container img {
        top: 56%;
        position: absolute;
        left: 92%;
    }

    .password_container label {
        font-size: 17px;
    }

    .form_Login_container button {
        width: 100%;
        background-color: #1677FF;
        border-radius: 15px;
        height: 40px;
    }

    .loremipsun_container {
        flex: 1;
    }

    .loremipsun_container_part1 {
        display: flex;
        flex-direction: column;
        line-height: 1;
        height: 22%;
        align-items: baseline;
        text-justify: auto;
        text-align: justify;
    }

    .loremipsun_container_part2 {
        display: flex;
        flex-direction: row-reverse;
        line-height: 1;
        height: 22%;
        align-items: baseline;
        text-justify: auto;
        text-align: justify;
        position: relative;
        top: 10px;
    }

    .loremipsun_container_part1 p, .loremipsun_container_part2 p {
        position: relative;
        top: -4px;
        line-height: 1.2;
        word-spacing: -1.5px;
        font-size: 17px;
        text-align: justify;
        direction: ltr;
    }

    .line {
        position: absolute;
        left: 52%;
        top: 13%;
        background-color: #424242;
        width: 1px;
        height: 74%;
    }
}


@media only screen and (max-width: 1024px){
 .logo_middle
 {
  left: 20%;
 }
 .form_Login_container
 {

     flex-direction: column;
 }
}