@import "../../styles/variable.css";

.menu
{

}

.item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.item .title
{
    font-size: 14px;
    font-weight: 200;
    color: var(--soft-color);
}
.dropdown
{
    position: relative;
}
.dropdown-content
{
    display: none;
    position: absolute;
    color: #080808;
    width: 94px;
    right: 40px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    top: 0;
}
.dropdown img
{
    width: 20px;
    color: white;
}
.open .dropdown-content {
    display: block;
}
.dropdown-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.List-item
{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 10px;
}

.dropdown ul
{
    color: #2a3447;
    background-color: white;
}

.List-item:hover
{
    background-color: #384256;
}

.List-item span
{

    font-size: 16px;
    color: var(--soft-color);
}

.title{
    text-transform: uppercase;
}

@media only screen and (max-width: 768px)
{
    .item .title
    {
        display: none;
    }
    .ListItemTitle
    {
        display: none;
    }

}

