.pieChartBoxInventory
{
    height: 100%;
    display: flex;
    direction: ltr;
    flex-direction: column;
    justify-content: space-between;
}

.title-container-inventorchart p
{
    direction: ltr;
    color: black;
    font-size: 32px;
    font-weight: 700;
}
.title-container-inventorchart h2
{
    direction: ltr;
    font-size: 16px;
    color: #9E9E9E;
    font-weight: 600;
}
.chart-inventory
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 32px;
    width: 105px;
    height: 105px;
}

.options
{
    display: flex;
    color: black;
    gap: 12px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 42px;
}

.option
{
    display: flex;
    flex-direction: row;
    direction: ltr;
    gap: 10px;
    align-items: center;
}


.title
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.rectangle
{
    width: 17px;
    height: 17px;
}
.option span
{
    font-size: 17px;
}

@media only screen and (max-width: 1200px)
{
    .pieChartBoxInventory h1
    {
        font-size: 24px;
    }
    .chart
    {

        max-width: 143px;
        max-height: 143px;
    }
    .rectangle
    {
        width: 10px;
        height: 10px;
    }
    .options
    {
        gap: 10px;
    }
}