.pieChartBox
{
    height: 100%;
    display: flex;
    direction: ltr;
    flex-direction: column;
    justify-content: space-between;
}


@media only screen and (max-width: 1200px)
{
    .pieChartBox h1
    {
        font-size: 24px;
    }
}
.chart
{
    display: flex;
    align-items: center;
    position: absolute;
    top: 37%;
    left: 6%;
    justify-content: center;
    width: 143px;
    height: 143px;
}

.options
{
    display: flex;
    position: absolute;
    top: 47%;
    right: 7%;
    color: black;
    gap: 10px;
    font-size: 14px;
    flex-direction: column;
}

.option
{
    display: flex;
    flex-direction: row;
    direction: ltr;
    gap: 10px;
    align-items: center;
}


.title
{
    display: flex;
    gap: 10px;
    align-items: center;
}
.rectangle
{
    width: 10px;
    height: 10px;
}