
.info
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.filterButton
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filterButton label
{
    color: #dddddd;
}


.info button
{
    padding: 5px;
}
