

.users
{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    color: black;
}
.tab-content
{
    display: flex;
    align-items: center;
    direction: ltr;
    margin-top: 10px;

}
.search_box_sites
{
    display: flex;
    gap: 10px;
    direction: ltr;
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 16px;
    align-items: center;
}
.search_box_sites input
{
    outline: none;
    direction: ltr;
}
.site_container
{
    width: 92%;
    margin: auto;
}
.users h2
{
    font-size: 20px;
    font-weight: 500;

}
.users-header-container
{
    padding: 10px;
    display: flex;
    gap: 10px;
}

.dataGrid
{
    direction: rtl;
}

.info
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.filterButton
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filterButton label
{
    color: #dddddd;
}
.svg_filterbutton
{
    fill: black;
}
.info button
{
    padding: 5px;
}

.shapes1,.shapes2,.shapes3,.shapes4
{
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 2px;
}
.shapes-container
{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}


.info
{
    display: flex;
    align-items: center;
    justify-content: end;
    color: black;
    gap: 20px;
    padding: 10px;
}
.filterButton
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filterButton label
{
    color: #dddddd;
}
.filterButton img
{
    width: 20px;
    height: 20px;
    fill: white;
}
.info button
{
    padding: 0;
}
.css-levciy-MuiTablePagination-displayedRows
{
    display: none;
}
.MuiTablePagination-actions
{
    display: flex;
    flex-direction: row-reverse;
}
.css-gl260s-MuiDataGrid-columnHeadersInner.MuiDataGrid-columnHeadersInner--scrollable .MuiDataGrid-columnHeader:last-child
{
    height: 56px;
    width: 125px;
    min-width: 184px;
    max-width: 203px;
}
.Site_header_button
{
    display: flex;
    flex-direction: row;

    gap: 16px;
    padding-top: 32px;
}
.Site_Location
{
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Site_Location img
{
    width: 100%;
    padding: 20px;
}
.Site_header_button_items
{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 14px 22px 14px 12px;
    background-color: #FFFFFF;
    color: #007BFF;
    direction: ltr;
    cursor: pointer;
}
.Site_header_button_items2
{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 14px 22px 14px 12px;
    background-color: #FFFFFF;
    direction: ltr;
    cursor: pointer;
}

.Site_header_button_items3
{
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 14px 16px 14px 12px;
    background-color: #007BFF;
    direction: ltr;
    color: #FFFFFF;
    cursor: pointer;
}
.dataTable
{
    margin-top: 16px;
    margin-bottom: 76px;
}
.css-heg063-MuiTabs-flexContainer
{
    direction: ltr;
}
.tabs-container
{
    background-color: #FFFFFF;
    border-radius: 8px 8px 0 0;
    justify-content: space-between;
    margin-top: 14px;
}
.css-yrdy0g-MuiDataGrid-columnHeaderRow
{
    display: flex;
}
.css-gl260s-MuiDataGrid-columnHeadersInner
{
    width: 100%;
    direction: ltr;
}
 .MuiDataGrid-row
{
    flex-direction: row;
}
.css-128fb87-MuiDataGrid-toolbarContainer
{
    flex-direction: row;
    display: none;
}
.css-1eed5fa-MuiInputBase-root-MuiInput-root
{
    flex-direction: row-reverse;
}
.css-3be3ve-MuiFormControl-root-MuiTextField-root-MuiDataGrid-toolbarQuickFilter input
{
    direction: ltr;
}

