.Siteinformation_container
{
    padding: 24px 24px 42px 32px;
}

.Siteinformation_container_box
{
    display: flex;
    flex-direction: column;
}
.Siteinformation_container h2
{
    font-size: 20px;
    color: #212121;
    direction: ltr;
    margin-bottom: 24px;
    font-weight: 600;
}

.item_1_Info
{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
    background-color: #fafafa;
    border-radius: 12px;
    border: 1px solid #EEEEEE;
    padding: 22px 24px;
    color: #616161;
}
.item_2_Info
{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
    border-radius: 12px;
    padding: 22px 24px;
    color: #616161;
}

.logo_Item_info
{
    display: flex;
    flex-direction: row;
    direction: ltr;
    gap: 12px;
    align-items: center;
}

.item_1_Info p
{
    position: absolute;
    left: 50%;
}
.item_2_Info p
{
    position: absolute;
    left: 50%;
}