@import "../../styles/variable.css";

.home
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    grid-auto-rows: minmax(70px,auto);
    grid-auto-flow: dense;

}
.box
{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--soft-bg) ;
}
.box1, .box4
{
 grid-column: span 1;
    grid-row: span 3;
}
.box2 ,.box3,.box5,.box6,.box8,.box9
{
    grid-column: span 1;
    grid-row: span 1;
}
.box7
{
    grid-column: span 2;
    grid-row: span 2;
}

@media only screen and (max-width: 1200px)
{
    .home {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1024px)
{
    .home {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px)
{
    .home {
        grid-template-columns: repeat(1, 1fr);
    }
    .box7
    {
        display: none;
    }
    .box1,.box2 ,.box3,.box4,.box5,.box6,.box8,.box9
    {
        width: 80%;
    }
}


@media only screen and (max-width: 480px) {
    .home
    {
    grid-template-rows:minmax(120px,auto) ;

    }
}





