.Navbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.logo
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.logo p
{
    font-weight: bold;
}
.icons-container {
    display: flex;
    flex-direction: row;
    gap:16px;
}
.notification
{
    display: flex;
    flex-direction: row;
    position: relative;
}
.notification span
{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    width: 20px;
    border-radius: 50%;
    top: -10px;
    right:-10px ;

}
.user-icon
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6px;
}
.user-icon img
{
    width: 40px;
    border-radius: 50%;
    object-fit: contain;
}
