.Navbar_container
{

    width: 100%;
    background-color: #14141A;
}
.Navbar_wrapper
{
    width: 91%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0;
    gap: 45px;
    margin: auto;
}
.setting_navbar_container
{
    display: flex;
    flex-direction: row;
    direction: ltr;
    justify-content: space-between;
}
.search_box_container
{
    display: flex;
    width: 360px;
    gap: 12px;
    height: 48px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 16px;
    background: #313140;
    padding: 5px;
    flex-direction: row-reverse;
}
.search_box_container input
{
    direction: ltr;
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}
.logo_seacrh_container
{
    display: flex;
    flex-direction: row;
    direction: ltr;
    gap: 48px;
}
.hamberger_menu
{
    display: none;

}

.menu_navbar
{
    display: flex;
    flex-direction: row;
    direction: ltr;
    gap: 3%;
}
.menu_navbar li a
{
    font-size: 20px;
}
.langauge_content_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    direction: ltr;
    height: 100%;
    border-radius: 16px;
    background: #313140;
}

.profile_langauge_box
{
    display: flex;
    width: 200px;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    flex-direction: row-reverse;
}

@media screen and (max-width: 576px)
{

    .Navbar_container
    {
        position: fixed;
    }
    .hamberger_menu
    {
        display: flex;
        flex-direction: row;
        direction: ltr;
        align-items: center;
        gap: 2px;
    }
    .hamberger_menu_svg
    {
        width: 32px;
        height: 32px;
    }
    .hamberger_config_svg
    {
        width: 70%;

    }

    .langauge_content_box
    {
        padding: 6px;
    }
    .langauge_content_box p
    {
        display: none;
    }
    .menu_navbar
    {
        display: none;
    }
    .profile_langauge_box
    {
        justify-content: flex-end;
        gap: 24px;
    }
    .user_profile_part
    {
        display: none;
    }
   .logo_seacrh_container
   {
       display: none;
   }
    .Navbar_wrapper
    {
        max-width: 1140px;
    }

}