.dashboard
{
    direction: ltr;
    padding: 20px 10px;
    width: 92%;
    margin:auto;
}

.dashboard h1
{
    color: #1d1f24;
    direction: ltr;
    font-size: 28px;
    padding: 22px 0 32px 0;
}
.dashboard_content_container_top
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    grid-auto-rows: minmax(70px,auto);
    direction: ltr;
}
.dashboard_content_container_top h1 ,.dashboard_content_container_down h1
{
    padding: 24px ;
}
.box1_1,.box1_2 ,.box1_3
{
    grid-column: span 1;
    background-color: white;
    position: relative;
    height: 382px;
    max-width: 100%;
    border-radius: 16px;
}


.dashboard_content_container_down
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 30px;
    gap: 20px;
    direction: ltr;
}

.box2_1,.box2_2
{
    grid-column: span 1;
    background-color: white;
    position: relative;
    height: 464px;
    max-width: 100%;
    border-radius: 16px;
}
@media screen and (max-width: 1280px)
{
    .box1_1,.box1_2 ,.box1_3
    {
      height: 273px;
    }


    .box1_1,.box1_2 ,.box1_3
    {
        max-width: 360px;
    }
    .box2_1,.box2_2
    {
        max-width: 555px;
    }
}




@media screen and (max-width: 576px)
{
    .dashboard_content_container_top
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        direction: ltr;
        justify-items:center;
        margin: 0 6% 16px 6%;
    }
    .box1_1,.box1_2,.box1_3
    {
        width: 100%;
        margin: 0 0 16px 0;
        max-width: 100%;
    }
    .dashboard_content_container_down
    {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        margin: 0 6% 16px 6%;
    }
    .box2_1 ,.box2_2
    {
        width: 100%;
    }


}
